@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url("https://fonts.googleapis.com/css2?family=Roboto");
#__next {
    height: 100% !important;
    width: 100% !important;
    // border: 2px solid red;
}

html,
body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-right: 0 !important;
}

#nav {
    margin: 0 !important;
    padding: 0 !important;
}

html,
body {
    min-height: 100%;
    width: 100%;
}

html,
body {
    // padding: 0;
    // margin: 0;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none !important;
}

hr {
    border: 1px solid #e2e8f0;
    margin: 5px 0;
    width: 100%;
}

p,
li {
    max-width: 70ch;
}

// enable smooth scrolling
html {
    scroll-behavior: smooth;
}

nav {
    margin: 0;
    padding: 0;
}

.backlink{
    text-decoration: underline !important;
}

.test {
    border: 1px solid red;
}

.test2 {
    border: 1px solid cyan;
}

.test3 {
    border: 1px solid magenta;
}


.test{
    border: 1px solid red;
}

.test2{
    border: 1px solid cyan;
}

.test3{
    border: 1px solid magenta;
}